@font-face {
    font-family: Shabnam;
    src: url("./fonts/Shabnam.woff");
    src: url("./fonts/Shabnam.woff") format("woff"),
        url("./fonts/Shabnam.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
